/*my overwrites*/
.accordion-group{
  background: white;
}

.info-team{
	float:left;
	margin-right:5px;
}

#team-container{
	font-family: Courier;
	font-size: 10px;
}

.teamlist{
	list-style: none;
}

.teamlist-item{

}

.ti-nr,
.ti-pos,
.ti-name,
.ti-games,
.ti-club{
	display:inline;
	margin:0 3px;
}

.ti-name{
	font-weight: bold;
	font-size:110%;
}

div.dropdown a{

}

.team-name{
	font-size: 24px;
	margin-left: 10px;
	font-weight: bold;
}

#team-info-list{
	list-style: none;
}

#team-info-list li{
	list-style: none;
	float:left;
}

#team-info-home, #team-info-away{
	list-style: none;
	float:left;
	margin-right:10px;
}