/*my overwrites*/
.accordion-group{
  background: white;
}

.info-team{
	float:left;
	margin-right:5px;
}

#team-container{
	font-family: Courier;
	font-size: 10px;
}

.teamlist{
	list-style: none;
}

.teamlist-item{

}

.ti-nr,
.ti-pos,
.ti-name,
.ti-games,
.ti-club{
	display:inline;
}